@import "../../../../../styles/global.scss";

.remember-card-container {
    &__card {
        min-width: 50rem;
        max-width: 50rem;
        min-height: 30rem;
        // box-shadow: 0.1rem 0.1rem 0.5rem 0.6rem rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__stepper {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        font-size: 1.6rem;
    }
    &__card-text{
        position: absolute;
        width: 100%;
        transition: 0.5s;
        transform: rotateY(360deg);
    }
    &__card-mean{
        // position: absolute;
        transition: 0.5s;
        transform: rotateY(180deg);
        backface-visibility: hidden;
    }
    &__card-text-rotate {
        transition: 0.5s;
        transform: rotateY(180deg);
        backface-visibility: hidden;
    }
    &__card-mean-rotate {
        transition: 0.5s;
        transform: rotateY(360deg);
        // backface-visibility: hidden;
    }
}

.edit-course-container{
    padding: 1rem;
}

.history-container{
    &__word-container{
        &--wrong-header{
            color: map-get($color, "red") !important;
        }
        &--correct-header{
            color: map-get($color, "green") !important;
        }
        &__list-word{

        }
        &__word{
            display: flex;
            justify-content: space-between;
            // background-color: red !important;
            padding: 2rem;
            margin: 1rem 0;
            border-radius: 1rem;
            margin-bottom: 2rem;
        }
    }
    &__correct-word-container{

    }
}

.recent-courses-container{
    padding: 1rem;
    &__item-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 15rem;
        padding: 1rem;
        &:hover{
            cursor: pointer;
        }
        // &:active{
        //     justify-content: space-between;
        // }
    }
}