.courses-list-container {
  margin: 1rem;
  &__blank-courses{
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
.button {
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin: 1rem 0 0rem 2rem
}
.button-load-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__button-load{
  }
  &__page-number{}
}
.paper-container {
  box-sizing: border-box;
  padding: 1rem;
  border: 10rem
}
.MuiPaper-root.paper {
  height: 25rem;
  box-shadow: 1rem 1rem 2rem rgba($color: #000000, $alpha: 0.05);
  transition: 0.3s;
  border: 0.1rem solid rgba(black, 0.1);
  &:hover {
    box-shadow: 1rem 1rem 4rem rgba($color: #000000, $alpha: 0.1);
    transform: scale(1.05);
    cursor: pointer;
  }
}

.paper-custom {
  &__image {
    height: 50%;
    background-color: yellowgreen;
    display: flex;
    justify-content: flex-end;
  }
}

.modal-create-course {
  .MuiButtonBase-root.MuiIconButton-root#{&}__icon-close {
    display: inline-flex;
    justify-content: flex-start
  }
}

.MuiButtonBase-root.MuiIconButton-root.test{
  display: inline-flex;
  justify-content: flex-start;
}

// Add course
.add-course-container{
  &__text-field{
    font-size: 1.6rem;
  }
  &__button{
    float: right;
    margin-top: 1rem !important;
    font-size: 1.6rem;
  }
}

