@import "../../../styles/global.scss";

.container {
    margin: 2rem;
    &__topic-item-container {
        &__item {
            border: 1px solid map-get($color, "blue");
            min-height: 20rem;
            width: 90% !important;
        }
    }
}

.item-container {
    border: 1px solid map-get($color, "blue");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  box-shadow: 1rem 1rem 2rem rgba($color: #000000, $alpha: 0.05);
    border-radius: 4rem;
    min-height: 20rem;
    padding: 3rem;
    width: 90% !important;
}
.item-container:hover{
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 1rem 1rem 4rem rgba($color: #000000, $alpha: 0.1);
    transform: scale(1.05);
}
